@import "/normalize.css";
@import "box-sizing";

// baseColor: fallback background color and base color
// unit: size of a `low` square
@mixin carbon-background($baseColor, $unit) {
  // Creates a background inspired by carbon fiber
  // It uses three colors: low, mid and high (from darkest to lightest).
  // These color are placed on a square as follow:
  // +-----------+-----------+
  // |           |    mid    |
  // +    low    +-----------|
  // |           |    high   |
  // +-----------+-----------+
  // |    mid    |           |
  // |-----------|    low    +
  // |    high   |           |
  // +-----------+-----------+
  // This is achieved by creating a striped background with `mid`/`high` behind
  // a checkerboard of `low` squares. The checkerboard is created by
  // interleaving triangles.
  // The checkerboard is applied twice (in orthogonal directions) to reduce
  // aliasing artifacts.

  $side: 2 * $unit; // Size of the pattern (large square)

  $low: scale_color($baseColor, $lightness: -2%);
  $mid: scale_color($baseColor, $lightness: 2%);
  $high: scale_color($baseColor, $lightness: 8%);

  background-image:
    linear-gradient(-45deg, $low 25%, transparent 25%, transparent 75%, $low 75%),
    linear-gradient(-45deg, $low 25%, transparent 25%, transparent 75%, $low 75%),
    linear-gradient(45deg, $low 25%, transparent 25%, transparent 75%, $low 75%),
    linear-gradient(45deg, $low 25%, transparent 25%, transparent 75%, $low 75%),
    linear-gradient($mid 30%, $high 100%);
  background-size: 2*$unit 2*$unit, 2*$unit 2*$unit, 2*$unit 2*$unit, 2*$unit 2*$unit, 2*$unit $unit;
  background-position: 0 0, $unit $unit, 0 $unit, $unit 0, 0 0;
  background-color: $baseColor;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.flex-space {
  flex: 1;
}

$unit: 10px;
$contentWidth: 960px;
$bgColor: #101010;
$contentBgColor: hsl(0, 0%, 85%);
$accentColor: #6a100e;
$accentColorLight: #a81e22;
$accentColorDark: #470d0b;

body {
  font-family: sans-serif;
  font-size: 14px;
  @include carbon-background($bgColor, $unit);

  > header, > footer {
    @include carbon-background($accentColorDark, $unit);
    color: white;
    text-shadow: 0 0 0.5em $bgColor;

    &>div {
      width: $contentWidth;
      margin: auto;
      padding: $unit 0;
      text-align: center;
    }

    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: scale_color($accentColor, $lightness: 90%);
      }
    }
  }

  > header {
    border-bottom: $unit solid white;
    font-size: 1.5em;

    nav {
      display: flex;
      flex-direction: row;
    }

    a+a {
      margin-left: 1em;
    }
  }

  > footer {
    border-top: $unit solid white;
    min-height: 100px;
  }
}

#site-content {
  width: $contentWidth;
  margin: 2*$unit auto;
  color: #1f1f1f;
  background-color: lighten($contentBgColor, 10%);
  border: $unit solid white;
  box-shadow: inset 0 0 $unit transparentize($bgColor, 0.7), 0 0 $unit transparentize($bgColor, 0.5);

  a {
    color: $accentColor;
    text-decoration: underline;
    &:hover {
      color: $accentColorLight;
    }
  }
  display: flex;

  aside {
    min-width: 240px;
    padding: $unit;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      ul {
        border-left: 1px solid $accentColor;
        padding-left: 0.5em;
      }
    }
    li {
      margin: 0.3em 0;
    }
  }
}

#page-content {
  flex: 1;
  padding: 2*$unit;
  background: hsl(0, 0%, 85%);
  box-shadow: inset 0 0 $unit transparentize($bgColor, 0.5);

  > header {
    font-size: 2.5rem;
    font-weight: bold;
    color: $accentColor;
  }
  line-height: 1.5;
}

blockquote {
  border-left: $unit solid lighten($accentColorLight, 25%);
  background-color: lighten($contentBgColor, 5%);
  box-shadow: 0 0 $unit transparentize($bgColor, 0.7);
  padding: 1em;
  & > p {
    margin: 0;
  }
}

h1, h2, h3, h4 {
  color: $accentColor;
}

$table-border-color: lighten($bgColor, 40%);
table {
  position: relative;
  border-spacing: 0;
  th {
    background-color: lighten($bgColor, 60%);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  th {
    border-top: 1px solid $table-border-color;
  }
  th:first-child, td:first-child {
    border-left: 1px solid $table-border-color;
  }
  th, td {
    border-right: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    padding: 0.2em;
  }

  p {
    margin: 0;
  }
}

table.sortable {
  th.sort {
    padding: 0;
  }

  th.sort > button {
    color: inherit;
    font-weight: inherit;
    background: none;
    border: none;
    padding: 0.2em;
    width: 100%;
    height: 100%;

    &:hover {
      background-color: lighten($bgColor, 55%);
      cursor: pointer;
    }

    &::after {
      content: '';
      display: inline-block;
      min-width: 12px;
      min-height: 12px;
      background-image: url("/img/sort-both.svg");
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 0.2em;
    }
  }
  th.sort-asc > button::after {
    background-image: url("/img/sort-ascending.svg");
  }
  th.sort-desc > button::after {
    background-image: url("/img/sort-descending.svg");
  }
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
