@charset 'UTF-8';body{font-family:Adobe Clean UI,Myriad Pro,Arial,sans-serif;font-size:12pt;margin:0;padding:0;}
body *{line-height:150%;}
form,#searching_message,.loadSearch,#mnemonic,#searchbar,#content_wrapper{font-size:67%;}
h1.contentHead{font-size:79%;}
div#content_wrapper div dl,div#content_wrapper div div,div#content_wrapper div div div,div#content_wrapper div div div p,div#content_wrapper div table{font-size:100%;}
div#content_wrapper div div,div#content_wrapper div li,div#content_wrapper div dl,div#content_wrapper div p{line-height:150%;}
h1{font-size:100%!important;font-weight:normal;line-height:150%;}
body{background-color:#3a3a3a;}
.keyword{font-style:italic;}
div#content_wrapper h1{color:#FFF;font-size:9px;font-weight:normal;margin:0;padding-left:10px;background-color:#444;}
div#content_wrapper p{color:#CCC;padding-left:25px;padding-top:10px;margin-top:10px;}
#results,#results p{background-color:#3a3a3a;color:#FFF;width:100%;padding-left:10px;padding-top:0;padding-bottom:0;line-height:200%;list-style:none;}
#results a{color:#FFF;text-decoration:none;}
#results a:hover,#results a:visited{color:#6aa8e0;}
#search{padding-top:10px;display:inline;visibility:hidden;}
.searchresults{padding-top:5px;}
#search input.searchinput{position:absolute;margin:0;padding:0 0 0 3px;height:24px;background-color:#3c3c3c;border-style:none;font-size:12px;color:#FFF;border:ridge 1px #3a3a3a;}
#searchscope{position:absolute;padding:0;margin:0;}
#gsa{margin:4px 6px 0 0;}
.gsalabel{color:#FFF;vertical-align:15%;}
#search input.searchbutton{position:absolute;left:0;margin:0;padding:0;width:0;height:0;background-image:url(images/searchbutton.png);background-color:#DDD;background-repeat:no-repeat;border-style:inset 1px;cursor:pointer;}
#selectproduct{position:absolute;left:358px;}
#search_opation_table{margin-top:30px;padding-bottom:10px;font-size:100%;}
#search_opation_table td{color:#FFF;height:28px;}
#currentsite{color:#333;}
#searchlocation,#filterresults{font-size:9px;background-color:#5b5b5b;color:#FFF;}
div#content_wrapper ol{margin:15x;list-style:none;line-height:200%;}
ol{line-height:200%;}
div#content_wrapper ul ol li{margin:0;list-style-type:none;}
div#content_wrapper ol ol{list-style:none;list-style-type:none;line-height:200%;}
table,tbody,tr,td,ol,li{display:block;}
ol{padding-left:15px;}
li,p{word-break:normal;word-wrap:break-word;}
div#content_wrapper{padding-right:25px;}