@charset 'UTF-8';a{text-decoration:none;}
h3.topictitle3 a,h3.topictitle3off a,#breadcrumb a,div#homepage_content div a{text-decoration:none;}
div#nav_content table tbody tr td a,div#homepage_content div a{font-weight:bold;}
div#nav_content table tbody tr td a:link,div#nav_content table tbody tr td a:hover,a:link,h3.topictitle3 a:link,#breadcrumb a.prev:link,#breadcrumb a.next:link,a.tabOff:link,a.tabOff:visited,div.letterList a:link,div.letterList a:visited,#results a:link,div#related a:link,div#homepage_content div a:link{color:#047;}
#breadcrumb a:link,#breadcrumb a:visited{color:#999;}
#breadcrumb a.prev:visited,#breadcrumb a.next:visited,a:visited,div#nav_content table tbody tr td a:visited,#results a:visited,div#related a:visited,div#homepage_content div a:visited{color:#5a6f7f;}
div#related a:active{color:#c00;}
a:hover,a.tabOff:hover,#breadcrumb a.prev:hover,#breadcrumb a.next:hover,#breadcrumb a:hover,div.letterList a:hover,#results a:hover,div#related a:hover,div#homepage_content div a:hover{color:#c00;}
div.fignone a{display:block;padding:5px 0 0 5px;}
div#homepage_content div a{padding:10px 0;}
h3.topictitle3off a,h3.topictitle3 a{margin:5px;}
div#nav_content table tbody tr td a:hover{background-color:#ddd;}
.banner a,.banner a:visited,.banner a:hover,.pod a,.pod a:visited,.pod a:hover{color:#fff;}
.Acrobat .banner a,.Acrobat .banner a:visited,.Acrobat .banner a:hover,.Acrobat .notyourversion a,.Acrobat .notyourversion a:visited,.Acrobat .notyourversion a:hover,.Acrobat .pod a,.Acrobat .pod a:visited,.Acrobat .pod a:hover{color:#505050;}
.banner a:hover,.pod a:hover{text-decoration:underline;}
#group_toc a:visited,#product_list a:visited{color:#047;}
#group_toc a:hover{color:#c00;}