@charset 'UTF-8';@import url("content-fonts.css");@import url("localeSpecific.css");@import url("content-hyperlinks.css");h5,div.breadcrumb,#nav_body,div#breadcrumb span.links,div#content_wrapper div table tr th{background-color:#fff;}
.searchhilite{background-color:#DFDF00;}
pre{background-color:#f0f7fe;}
html,body,form,dt,dd,img,table,div,h1,h2,h3,h4,a,#selectBox,ul#tabsRow,div#nav_content table,div.fignone div.figdesc,div.fignone dl,div.relinfo,.mainTable,p.Level1IX,p.Level2IX,.listImage,div#content_wrapper div,div#content_wrapper div div,div#content_wrapper div div.section,div#content_wrapper li,div#content_wrapper li p,div#content_wrapper ol,div#content_wrapper ul,div#content_wrapper ul ul,div#content_wrapper li li p,div#content_wrapper ul ul ul,div#content_wrapper li li li p,div#content_wrapper ul ul ul ul,div#content_wrapper li li li li p,div#content_wrapper ul.navlinklist,div#homepage_wrapper,div.bottom-breadcrumb{padding:0;margin:0;}
img{border:none;}
img.image{padding-left:2pt;padding-right:2pt;}
img.topicView{padding-right:4px;margin-bottom:-2px;}
dl{margin-top:10px;margin-bottom:10px;}
dl dl{margin:5px 20px;}
div#content_wrapper dl p.dlseparator{display:block;margin-bottom:3px;margin-top:0;padding-bottom:3px;padding-top:0;}
div#content_wrapper dl dd p{display:block;margin-top:2px;padding-top:2px;}
div#content_wrapper div.fignone dl p.dlseparator{display:inline;}
div.fignone dl dd{margin-left:0;margin-right:4px;padding-right:4px;}
div.nav dl.page dd{padding:0 6px 0 0;}
h2{padding:1em 0 .5em;}
table{border-collapse:collapse;}
#content_wrapper table{border-width:1px;border-style:solid;border-collapse:collapse;}
td,th{padding:0;}
#homepage_body{margin:0;padding:0;background-color:white;height:100%;}
div#homepage_wrapper{height:100px;background:url(images/homepage.png) no-repeat top left #fff;background-color:white;}
div#homepage_content{padding:130px 0 0 21px;}
div#homepage_content div a{display:block;}
#content_body{padding:19px 20px 25px 30px;margin:-42px 10px 25px -15px;background-color:white;}
div#mnemonic h1.Acrobat,div#mnemonic h1.Spry{color:#999;}
div#content_wrapper div{margin:0 0 20px 0;}
div#content_wrapper div table tr th,div#content_wrapper div table tr td{vertical-align:middle;padding-right:5px;}
div#content_wrapper div div.relinfo{margin:20px 0 0 0;padding:0;}
div#content_wrapper div.fignone div.figdesc{margin-top:5px;}
div#content_wrapper div.fignone dl{margin-top:0;margin-bottom:20px;}
div#content_wrapper div table{margin-top:20px;margin-bottom:20px;}
div#content_wrapper div table tr th{padding:5px 10px 5px 10px;}
div#content_wrapper div table tr td{padding:5px 10px 5px 10px;}
div#breadcrumb{padding-bottom:10px;padding-top:16px;}
div#content_wrapper div.note{display:block;padding-top:3px;margin-top:3px;margin-bottom:5px;padding-bottom:5px;}
div#content_wrapper div.important{display:block;padding-top:3px;margin-top:3px;margin-bottom:5px;padding-bottom:5px;}
div#content_wrapper div div.section div.note,div#content_wrapper div div.numbered ul,div#content_wrapper div div.numbered div.note,div#content_wrapper div div.numbered div.fignone{margin-bottom:15px;}
div#breadcrumb div.bottom-breadcrumb{border-top:1px solid #999;}
div#breadcrumb div.bottom-breadcrumb{padding-top:5px;}
div#breadcrumb div.bottom-breadcrumb div.nav{border-bottom:none;}
div#breadcrumb div.hierarchy{padding:0;}
div#breadcrumb span.links{padding:5px 15px 9px 15px;white-space:nowrap;}
div#tocrule{border-top:1px solid #999;margin:10px 0 10px 0;}
#nav_body{padding:20px 10px 50px 25px;background:#fff url(images/bkg-line.gif) repeat-y 100%;}
ul#tabsRow{margin-bottom:10px;}
div.fignone{padding-left:20px;}
div.fignone img{margin:10px 0 5px 0;}
div.p div.tip{padding:200px 0;margin:200px 0;}
div.tip{margin-bottom:10px!important;}
table{margin:-30px 0;}
#content_body td,#content_body th{padding-left:0;margin-left:0;vertical-align:top;}
#nav_body td,#nav_body th{padding-left:2px;margin-left:2px;vertical-align:middle;}
form{padding:10px 5px 5px 0;}
form label{padding-bottom:5px;}
div#nav_content div.letterList{border-bottom:1px solid #999;border-top:1px solid #999;padding:10px 0 10px 0;}
div.important{padding:10px 0 20px;}
.loadSearch{margin:20px;padding:10px;border:1px solid;}
h4{margin-top:10px;}
p.Level1IX{padding-left:5px;padding-top:2px;}
p.Level2IX{padding-left:15px;padding-top:1px;}
div#content_wrapper ul li{list-style-type:square;}
div#content_wrapper li li,div#content_wrapper li li li,div#content_wrapper li li li li{padding:0;margin:.25em 6px;}
div#content_wrapper ol{margin:0 23px;}
div#content_wrapper ol ul{margin:0 8px;}
div#content_wrapper ul{margin:0 15px;}
div#content_wrapper li{margin:2px 0;}
div#content_wrapper ul.navlinklist li{margin:0 0 5px 0;list-style-image:none;list-style-type:none;}
.topic{padding:4px;border-right:1px solid;border-bottom:1px solid;}
.listImage{margin-bottom:-3px;padding-right:4px;}
#indexLettersTop{border-bottom:1px solid;padding-bottom:5px;margin-bottom:5px;}
#indexLettersBottom{border-top:1px solid;padding-top:5px;margin-top:5px;}
.optgroup{text-align:center;}
.optgroup option{text-align:left;}
h1.contentHead{padding:0 10px 5px 0;}
div.choption{margin-right:3px;}
div.dt{margin-right:3px;}
.dlentry{padding-left:16px;}
.dlentry .dlentry{margin-left:36px;list-style-type:disc;display:list-item;}
.chdesc{padding-left:16px;}
.related-links{padding-left:16px;}
pre{overflow:auto;padding:15px 10px 25px 10px;margin:0 20px 10px 0;border:1px solid #ccc;width:100%;}
div.fignone img,dl br,dl,.show,.showIt,.toggleImageLink,form label,.fig img{display:block;}
dt,dd,dd p,div.fignone dt,div.fignone dd,.keyword,.dt,.fig .dd,.fig .dlentry,.fig .dt,.keyword,.ph,.ph,.sup,.term,.tm,#tabsRow li{display:inline;}
.hide,.hideIt,div.fignone br{display:none;}
.choption:after,.fig .dlentry:after,.fig .dt:after{content:"&nbsp;";}
.sharedproducts{padding-top:16px;padding-bottom:0;margin-bottom:0;text-align:right;}
.sharedproductindicators{padding-top:0;padding-bottom:0;text-align:right;margin:5px 0 0 5px;}
.sharedproductindicators img{margin:0;margin-left:2px;}
dl.side-menu dt{display:list-item;list-style-type:none;list-style-position:outside;}
dl.side-menu.dd{display:list-item;list-style-type:none;list-style-position:outside;}
.page{float:right;text-align:right;margin:0;padding:0;}
.page ul{list-style-type:none;margin:0;padding:0;}
.page ul li a{padding:.1em .7ex;}
.page dt,.page dd{float:left;margin-right:-6px;}
.page dd.next{background-image:url("images/next_null.gif");margin-left:-2px;}
.page dd.prev{margin-left:0;background-image:url("images/prev_null.gif");}
.page dd.next a{font-size:1px;background-image:url("images/next.gif");display:block;word-break:keep-all;}
.page dd.prev a{font-size:1px;background-image:url("images/prev.gif");display:block;word-break:keep-all;}
.page .prev a,.page .prev,.page .next a,.page .next{width:17px;height:17px;background-repeat:no-repeat;background-position:0 0;overflow:hidden;}
.page dd.prev a,.page dd.next a{display:block;text-indent:9999px;/*\*/ overflow:hidden;/**/;}
.page dd.prev a:hover,.page dd.prev a:focus{background-color:transparent;background-image:url("images/prev_hover.gif");}
.page dd.next a:hover,.page dd.next a:focus{background-color:transparent;background-image:url("images/next_hover.gif");}
#minitoc{display:block;float:left;min-width:300px;width:300px;font-family:Arial,Helvetica,sans-serif;background-color:#e6e7e8;}
#minitoc div div div div div div div div div{padding:9px 10px 6px 12px;}
#minitoc li{list-style:none;}
#minitoc ul .link-list{text-align:left;list-style:none;}
#minitoc .icon,#minitoc .icon a,#minitoc .icon a:hover{padding-left:25px;padding-right:12px;display:block;background-repeat:no-repeat;background-position:0 .4em;text-decoration:none;margin-left:-25px;}
#minitoc .icon a:hover{background-position:-20px 0;}
#minitoc_in{padding:5px 2px 0 2px;margin-bottom:0;}
.t{width:100%;}
.b{width:100%;}
.l{background-color:#e6e7e8;}
.r{background-color:#e6e7e8;}
.bl{background:url(images/sw.gif) 0 100% no-repeat;}
.br{background:url(images/se.gif) 100% 100% no-repeat;}
.tl{background:url(images/p1headernw.gif) 0 0 no-repeat;}
.tr{background:url(images/p1headerne.gif) 100% 0 no-repeat;}
img.adobeLogoSplashScreen{position:absolute;float:left;bottom:17px;left:21px;z-index:-1000;}
div#mnemonic h1.Acrobat{background:url(images/AcrobatLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.AcrobatConnectPro{background:url(images/AcrobatConnectProLinkIndicatorTopBar.png) no-repeat top left #467461;}
div#mnemonic h1.ActionScript{background:url(images/ActionScriptLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.AfterEffects{background:url(images/AfterEffectsLinkIndicatorTopBar.png) no-repeat top left #699;}
div#mnemonic h1.Audition{background:url(images/AuditionLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.Breeze{background:url(images/BreezeLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.Bridge{background:url(images/BridgeLinkIndicatorTopBar.png) no-repeat top left #DC5516;}
div#mnemonic h1.Contribute{background:url(images/ContributeLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.DeviceCentral{background:url(images/DeviceCentralLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.Dreamweaver{background:url(images/DreamweaverLinkIndicatorTopBar.png) no-repeat top left #A5BF24;}
div#mnemonic h1.EncoreDVD{background:url(images/EncoreDVDLinkIndicatorTopBar.png) no-repeat top left #8CA9D1;}
div#mnemonic h1.ExtensionManager{background:url(images/ExtensionManagerLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.FLIP{background:url(images/FLIPLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.Flash{background:url(images/FlashLinkIndicatorTopBar.png) no-repeat top left #AF2E22;}
div#mnemonic h1.Fireworks{background:url(images/FireworksLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.GaijiSING{background:url(images/GaijiSINGLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.GoLive{background:url(images/GoLiveLinkIndicatorTopBar.png) no-repeat top left #8077AD;}
div#mnemonic h1.Illustrator{background:url(images/IllustratorLinkIndicatorTopBar.png) no-repeat top left #F6A80E;}
div#mnemonic h1.InCopy{background:url(images/InCopyLinkIndicatorTopBar.png) no-repeat top left #7A5897;}
div#mnemonic h1.InDesign{background:url(images/InDesignLinkIndicatorTopBar.png) no-repeat top left #99217C;}
div#mnemonic h1.Lightroom{background:url(images/LightroomLinkIndicatorTopBar.png) no-repeat top left #547990;}
div#mnemonic h1.PhotoshopElements{background:url(images/PhotoshopElementsLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.Photoshop{background:url(images/PhotoshopLinkIndicatorTopBar.png) no-repeat top left #0373B2;}
div#mnemonic h1.PremiereElements{background:url(images/PremiereElementsLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.PremierePro{background:url(images/PremiereProLinkIndicatorTopBar.png) no-repeat top left #9B87B7;}
div#mnemonic h1.Presenter{background:url(images/PresenterLinkIndicatorTopBar.png) no-repeat top left #467461;}
div#mnemonic h1.Reader{background:url(images/ReaderLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.Soundbooth{background:url(images/SoundboothLinkIndicatorTopBar.png) no-repeat top left #D9D297;}
div#mnemonic h1.Spry{background:url(images/SpryLinkIndicatorTopBar.png) no-repeat top left #D9D297;}
div#mnemonic h1.StockPhoto{background:url(images/StockphotoLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.Validator{background:url(images/ValidatorLinkIndicatorTopBar.png) no-repeat top left #ccc;}
div#mnemonic h1.VersionCue{background:url(images/VersionCueLinkIndicatorTopBar.png) no-repeat top left #5CBCB4;}
.pdf-file{background:url("images/pdf_fileicon.png") no-repeat;}
.swf-file{background:url("images/swf_fileicon.png") no-repeat;}
body{padding:30px 0 0 0!important;}
#mnemonic{position:fixed;top:0;left:0;height:24px;width:100%;margin:0;padding:0;}
#mnemonic h1{width:100%;font-size:100%;font-style:normal;font-weight:bold;padding:5px 0 0 36px;text-align:left;vertical-align:bottom;color:white;height:20px;}
#mnemonic .notyourversion{margin-left:10px;font-weight:normal;}
#mnemonic .beta{color:#fff;margin-left:40px;}
div#search{position:fixed;display:block;top:24px;left:0;height:24px;padding:1px;width:100%;margin-bottom:20px;background:#303030;border-top:solid 1px #202020;}
div#search form{font-size:12px;font-style:normal;font-weight:normal;padding:2px;margin-left:25px;text-align:left;vertical-align:bottom;}
#page_content_table{width:100%;margin-left:8px;}
#col1{width:225px;padding:20px 0 0 0;}
#col2{padding:15px 20px 0 45px!important;}
#group_toc{font-size:63%;font-weight:bold;color:#000;width:250px;margin-top:0;margin-bottom:10px;background:#fff;}
#group_toc p{padding-left:20px;padding-left:20px;margin:0 0 4px 0;}
#group_toc ul{margin:0 20px 0 0;padding:0 0 10px 0;line-height:150%;color:#999;}
#group_toc ul li{list-style:none;margin-bottom:6px;}
#sectiontitle{font-size:70%;list-style:none;margin:0 20px 0 20px;padding:0;line-height:100%;color:#000;}
#product_list{border:solid 0;margin-top:80px;border:solid 0;font-size:100%;}
#product_list h1{font-family:Verdana,Arial,Helvetica;margin:25px 20px 25px 20px;font-weight:bold;font-size:24px;color:#000;}
#product_list p{margin-left:20px;color:#333;}
#product_list ul{list-style:none;margin:0 20px 0 20px;padding:0 0 10px 0;line-height:130%;color:#000;}
#product_list li{margin-bottom:6px;}
#product_list li.weblink{list-style:disc;list-style-image:url("images/bullet-weblink.png");}
#splash{background:url(images/splash.jpg) no-repeat;font-size:75%;line-height:180%;margin-top:10px;padding:20px;color:#505050;height:250px;width:370px;}
#resultsTop{margin:0;}
#results{font-size:100%;}
.searchresults{padding:0;}
#related p{margin:4px 0 0 0;}
img.linkIndicator{margin-left:8px;vertical-align:-2px;}
<!-- ADDED FOR SEARCH TEMPLATE -->.hideme{visibility:hidden;}
.titleTable{width:100%;}
.titleTableTitle{white-space:nowrap;padding-left:15px;padding-right:5px;font-size:13px;height:44px;background-image:url(images/titleTableTop.jpg);background-repeat:repeat-x;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:10pt;}
.titleTableSearch{white-space:nowrap;background-image:url(images/titleTableTop.jpg);background-repeat:repeat-x;padding-right:10px;width:220;}
.searchForm{margin-top:0;margin-bottom:0;}
.titleTableTopNav{font-size:12px;background-image:url(images/titleTableTop.jpg);background-repeat:repeat-x;width:40%;min-width:277px;width:expression((documentElement.clientWidth < 200) ? "277px":"100%");}
.titleTableLogo{width:76px;height:90px;vertical-align:top;}
.titleTableSearch{white-space:nowrap;background-image:url(images/titleTableTop.jpg);background-repeat:repeat-x;padding-right:1px;width:235;}
.titleTableRow2{color:#000;height:31px;background-image:url(images/titleTableMiddle.jpg);background-repeat:repeat-x;}
.titleTableSubTitle{font-size:20px;padding-left:15px;padding-right:5px;}
.titleTableSubNav{white-space:nowrap;font-size:12px;}
.titleTableRow3{height:5px;background-image:url(images/titleTableBottom.jpg);background-repeat:repeat-x;}
.logoImage{width:76px;height:80px;}
.titleTableTd{padding-left:15px;padding-right:5px;font-size:13px;height:44px;background-image:url(images/titleTableTop.jpg);background-repeat:repeat-x;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:10pt;}
a:link{color:#00C;text-decoration:none;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;}
a:visited{color:#00C;text-decoration:none;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;}
a:hover{text-decoration:underline;color:#00C;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;}
a:active{text-decoration:none;color:#C00;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;}