#nav,#nav ul{margin:0;padding:0;list-style-type:none;list-style-position:outside;position:relative;line-height:1.5em;font-size:13px;}
#nav a:link,#nav a:active,#nav a:visited{display:block;padding:2px 5px;color:black;text-decoration:none;background-color:#E8E8E8;border-bottom:1px;border-bottom-style:solid;border-color:white;}
#nav li#RuntimesMenu{z-index:2;white-space:normal;}
#nav li#ProductsMenu{white-space:normal;}
#nav a#RuntimesMenu,#nav a#ProductsMenu{color:#333;background-color:transparent;border:none;width:162px;padding:0 5px;}
#nav li#ProductsMenu>ul,#nav li#RuntimesMenu>ul{top:0;left:172px;}
#nav a#RuntimesMenu:hover,#nav a#ProductsMenu:hover{color:white;background-color:grey;}
#nav li{float:left;position:relative;}
#nav ul{position:absolute;width:255px;top:1.5em;display:none;border-style:solid;padding-right:10px;border-width:1px;box-shadow:5px 5px 5px #888;}
#nav li ul a{width:255px;float:left;}
#nav ul ul{top:auto;}
#nav li ul ul{left:255px;margin:0 0 0 10px;background-color:grey;}
#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li:hover ul ul ul ul{display:none;}
#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li li li li:hover ul{display:block;}
#nav .heading_exists_col{background-image:url('images/expanded.gif');background-position:95% 50%;background-repeat:no-repeat;}
#nav .heading_exists_exp{background-image:url('images/collapsed.gif');background-position:95% 50%;background-repeat:no-repeat;}