.titleTableTitleION{padding-left:15px;padding-right:5px;font-size:18px;height:62px;background-image:url(images/titleTableTopION.jpg);background-repeat:repeat-x;}
.titleTableSearchION{white-space:nowrap;background-image:url(images/titleTableTopION.jpg);background-repeat:repeat-x;padding-right:10px;width:220;font-size:10px;}
.titleTableSubTitle{white-space:nowrap;font-size:20px;padding-left:15px;padding-right:5px;}
.titleTableSubNav{white-space:nowrap;font-size:12px;}
.searchFormION{padding-right:5px;margin-top:0;margin-bottom:0;float:right;}
.titleTableTopNavION{margin-top:3px;font-size:12px;background:transparent;width:40%;min-width:277px;width:expression((documentElement.clientWidth < 200) ? "277px":"100%");}
.titleTableSearchION{font-size:12px;background-image:url(images/titleTableTopION.jpg);background-repeat:repeat-x;width:40%;min-width:180px;width:expression((documentElement.clientWidth < 200) ? "180px":"100%");padding-left:10px;}
.titleTableRow2ION{width:235;color:#000;height:31px;background-image:url(images/titleTableMiddle.jpg);background-repeat:repeat-x;}
.titleTableRow3{height:5px;background-image:url(images/titleTableBottom.jpg);background-repeat:repeat-x;}
.titleTableSubNavION{white-space:nowrap;font-size:12px;}
.logoImageION{width:76px;height:62px;}
.searchinput{margin:0 0 0 3px;padding:0;width:140px;height:18px;background-color:#fff;border-style:solid;border-width:thin;border-color:grey;font-size:12px;vertical-align:middle;}
.searchbutton{margin:0;padding:0;width:18px;height:18px;background-image:url(images/searchbutton.png);background-color:#DDD;background-repeat:no-repeat;border-style:none;cursor:pointer;vertical-align:middle;}
.gsa{padding-left:-9pt;font-size:10px;font-weight:bold;}
div.separator{margin-bottom:30px;width:100%;background:url(images/Dash.png) repeat-x #fff;}
.creativecommons{margin-top:15px;}
#ionCom{margin-bottom:30px;padding-right:30px;width:98%!important;font-family:Verdana,Arial,Helvetica,sans-serif!important;}
#ionComHere #ionCom h3{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:100%;color:#000;padding-bottom:5px;}
#ionComList{margin:0!important;}
#ionComList li{list-style-type:none!important;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:98%!important;padding:4px 0 4px 0!important;}
#ionComList li.ionComMessage{background:#FFC;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:normal;font-style:normal;color:#000;list-style-position:inside;list-style-type:none;margin:0!important;padding:4px 0 4px 4px!important;}
#ionComButAdd{margin-left:0!important;}
#ionComAddForm .defaultTextArea{font-size:160%!important;font-family:Verdana,Arial,Helvetica,sans-serif!important;}
#ionComTextArea{font-size:160%!important;font-family:Verdana,Arial,Helvetica,sans-serif!important;width:98%!important;}
#ionCom fieldset .button{font-size:150%;}
.ionComMessage{font-size:150%;}
#ionComPreview h4,#ionComPreview #ionComPreviewTextArea{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:150%!important;}
#ionCom a{color:#047!important;}
#ionCom a:visited{color:#047!important;}
#ionCom a:hover{color:#c00!important;text-decoration:none!important;}
#ionCount{font-family:Verdana,Arial,Helvetica,sans-serif;border-bottom:solid 1px #ccc;margin:20px 15px 0 0!important;padding-top:10px;padding-bottom:6px!important;}
#ionCount *{display:inline;font-size:11px!important;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:bold;}
#ionCount ul.ionAnchor{margin-left:0!important;}
#ionCount a{color:#047;}
#ionCount a:hover{color:#a00;}
#ionRatingAnchor *,#ionComHeader *{display:inline;}
#ionCount #ionRatingAnchor{margin-left:15px;}
#ionRatingAnchor .ionSummary{font-weight:normal!important;}
#ionRatingAnchor span.ionPositive,#ionRatingAnchor span.ionNegative{padding:0 0 0 8px!important;font-weight:normal!important;}
#ionComHere *{font-size:11px!important;}
#ionComHeader{padding-bottom:10px!important;}
#ionComHeader *{font-size:11px!important;}
#ionComHeading{margin-right:10px!important;}
#ionMessageContainer .ionComMessage{background:#FFC;border-bottom:1px solid #B2B2B2;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:normal;font-style:normal;color:#000;list-style-position:inside;list-style-type:none;margin:0!important;padding:4px 0 4px 4px!important;}
#ionThumbRating{text-align:right;}
#ionComRating *{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11x!important;letter-spacing:0!important;}
#ionThumbRatingGroup label{display:inline;margin-right:5px;}