@charset 'UTF-8';@import url("content-fonts.css");@import url("localeSpecific.css");@import url("content-hyperlinks.css");body{font-size:67%;font-color:#666;padding:15px;margin:15px;background-color:white;}
img{border:none;}
.dl .dl{margin:5px 10px;}
.dl br{margin:5px;}
.dd{pa.dding:0 6px 0 0;}
.dl{margin-top:10px;margin-bottom:20px;}
img{margin:10px 0 5px 0;}
.dd{margin-right:3px;}
img,.dl br,.dl{display:block;}
.dt,.dd,.dd p{display:inline;}
.dt{font-weight:bold;}