body>*:not(#maincontainer){display:none;}
div.maincontainer>*:not(.mainright){display:none!important;}
.mainright>*:not(.content){display:none;}
.content #badgeContainerSupport{display:none!important;}
body{color:#000;background:#fff;font-family:sans-serif;font-size:12pt;}
div.maincontainer{position:static!important;}
.clipcopy{display:none;}
a{text-decoration:none;color:#000;}
pre{white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}
.maincontainer{top:0!important;}
.packageFrame{display:none;}
.titleTableSubTitle{font-weight:bold;}
.classHeaderTableLabel{padding-right:10px;vertical-align:top;}
.showHideLinks{display:none;}
html>body code{font-size:10pt;}
.summaryTableTitle,.detailSectionHeader{font-size:14pt;font-weight:bold;padding-top:15px;padding-bottom:5px;}
.summaryTable{border:1px solid #000;border-collapse:collapse;width:100%;}
.summaryTableDescription{padding-bottom:20px;}
.summaryTableSignatureCol,.summaryTableOwnerCol,.summaryTableLastCol,.summaryTableCol{border:1px solid #000;}
.summaryTablePaddingCol{border:1px solid #000;border-right:0;}
.summaryTableInheritanceCol,.summaryTableOperatorCol,.summaryTableStatementCol,.summaryTableSecondCol{border:1px solid #000;border-left:0;}
.summaryTableLastCol{vertical-align:top;}
.detailHeader{font-size:13pt;padding-top:100px;}
.detailHeaderName{font-weight:bold;}
.detailHeaderType{padding-left:5px;}
.detailHeaderRule{background:#F00;}
.seeAlso{padding-bottom:20px;margin-top:-20px;}
.innertable{border-collapse:collapse;}
.innertable td,.innertable th{border:1px solid #000;padding-left:5px;padding-right:5px;}
.listing{font-size:10pt;}
.feedbackLink{display:none;}
.copyright{font-size:10pt;}
div.mainleft{display:none!important;}
div.contentfooter{display:none!important;}
#whyEnglishContent{display:none!important;}
body table.titleTable{display:none!important;}