.titleTable{width:100%;}
.titleTableTitle{padding-left:15px;padding-right:5px;font-size:18px;height:62px;background-image:url(images/titleTableTopION.jpg);background-repeat:repeat-x;}
.titleTableSearch{font-size:12px;background-image:url(images/titleTableTopION.jpg);background-repeat:repeat-x;width:40%;min-width:277px;width:expression((documentElement.clientWidth < 200) ? "277px":"100%");padding-left:10px;}
.searchForm{padding-right:5px;margin-top:0;margin-bottom:0;}
.titleTableTopNav{margin-top:3px;font-size:12px;background:transparent;width:40%;min-width:277px;width:expression((documentElement.clientWidth < 200) ? "277px":"100%");}
.titleTableLogo{width:76px;height:62px;vertical-align:top;}
.titleTableRow2{color:#000;height:31px;background-image:url(images/titleTableMiddle.jpg);background-repeat:repeat-x;}
.titleTableSubTitle{white-space:nowrap;font-size:20px;padding-left:15px;padding-right:5px;}
.titleTableSubNav{//white-space:nowrap;font-size:12px;padding-right:30px;}
.titleTableRow3{height:5px;background-image:url(images/titleTableBottom.jpg);background-repeat:repeat-x;}
.logoImage{width:76px;height:62px;}
.classHeaderTable{margin-top:20px;}
.classHeaderTable td{vertical-align:top;padding-bottom:4px;}
.classHeaderTableLabel{font-weight:bold;padding-right:15px;}
tr .classHeaderTableLabel{width:90px;}
.classSignature{text-indent:-20px;padding-left:20px;}
.inheritanceList{text-indent:-20px;padding-left:20px;}
.inheritArrow{width:15px;height:9px;}
.mxmlSyntax{margin-bottom:-13px;}
.collapsedImage{width:9px;height:9px;border:0;}
.expandedImage{width:9px;height:9px;border:0;}
.classFrameContent{margin-right:5px;margin-left:10px;margin-top:10px;margin-bottom:10px;}
.classFrameContent td{white-space:nowrap;padding-right:5px;}
.eclipseBody{display:none;}
img{border:0;}
.annotation{font-size:20px;margin-top:20px;}
.label{color:#444;font-weight:bold;}
strong{color:#444;}
.summarySection{margin-right:10px;}
.summaryTableTitle{font-weight:bold;font-size:18px;padding-top:20px;padding-bottom:5px;}
.summaryTableTitle2{font-weight:bold;font-size:14px;padding-top:10px;padding-bottom:0;}
* .summaryTable{margin-top:10px;border:#999 1px solid;width:100%;margin-bottom:20px;}
html>body .summaryTable{margin-top:10px;border:#999 1px solid;width:100%;margin-bottom:20px;margin-right:10px;}
.summaryTable th{color:#FFF;background-color:#627C9D;white-space:nowrap;}
.summaryTable td{border-top:#999 1px solid;vertical-align:top;}
.summaryTablePaddingCol{width:5px;}
.summaryTableInheritanceCol{width:14px;}
.summaryTableSignatureCol{padding-right:10px;}
.summaryTableOperatorCol{padding-left:10px;padding-right:10px;font-weight:bold;}
.summaryTableStatementCol{padding-left:10px;padding-right:10px;font-weight:bold;white-space:nowrap;}
.summarySignature{text-indent:-20px;padding-left:20px;}
.summaryTableOwnerCol{padding-right:10px;width:10px;}
.signatureLink{font-weight:bold;}
.summaryTableDescription{color:#333;}
.summaryTableLastCol{padding-right:10px;}
.inheritedSummaryImage{width:14px;height:14px;}
.showHideLinkImage{width:9px;height:9px;}
.hideInheritedConstant{display:none;}
.showInheritedConstant{display:inline;}
.hideInheritedProtectedConstant{display:none;}
.showInheritedProtectedConstant{display:inline;}
.hideInheritedProperty{display:none;}
.showInheritedProperty{display:inline;}
.hideInheritedProtectedProperty{display:none;}
.showInheritedProtectedProperty{display:inline;}
.hideInheritedMethod{display:none;}
.showInheritedMethod{display:inline;}
.hideInheritedProtectedMethod{display:none;}
.showInheritedProtectedMethod{display:inline;}
.hideInheritedEvent{display:none;}
.showInheritedEvent{display:inline;}
.hideInheritedcommonStyle{display:none;}
.showInheritedcommonStyle{display:inline;}
.hideInheritedsparkStyle{display:none;}
.showInheritedsparkStyle{display:inline;}
.hideInheritedhaloStyle{display:none;}
.showInheritedhaloStyle{display:inline;}
.hideInheritedmobileStyle{display:none;}
.showInheritedmobileStyle{display:inline;}
.hideInheritedEffect{display:none;}
.showInheritedEffect{display:inline;}
.detailSectionHeader{color:#434343;font-size:16px;padding-left:10px;padding-top:4px;padding-bottom:4px;margin-top:40px;margin-bottom:3px;background-image:url(images/detailSectionHeader.jpg);background-repeat:repeat-x;}
.detailHeader{margin-left:20px;margin-top:10px;margin-bottom:3px;}
.detailHeaderName{font-weight:bold;font-size:16px;vertical-align:baseline;white-space:nowrap;}
.detailHeaderType{font-size:12px;vertical-align:baseline;padding-right:10px;padding-left:7px;white-space:nowrap;}
.detailHeaderParens{font-size:14px;font-weight:bold;padding-left:1px;padding-bottom:2px;}
.detailHeaderRule{background-image:url(images/detailHeaderRule.jpg);background-repeat:repeat-x;width:100%;background-position:50%;}
.detailBody{margin-left:20px;margin-right:15px;margin-bottom:20px;}
.exampleHeader{background-color:#C8D1DF;padding-left:10px;padding-top:3px;padding-bottom:3px;}
.seeAlso{margin-top:-13px;padding-left:20px;}
body{font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;color:#000;background-color:#FFF;margin:0;padding:0;overflow:hidden;}
body,td,th{font-size:13px;}
.content{margin-left:20px;min-height:100%;}
.MainContent{margin-right:10px;margin-bottom:10px;}
code{font-family:"Lucida Console","Courier New",Courier,monospace;font-size:12px;}
pre{font-family:"Lucida Console","Courier New",Courier,monospace;font-size:12px;}
th{text-align:left;font-weight:bold;vertical-align:bottom;}
table{background-color:white;}
table.withBorder{border-color:#BBB;border-width:1px;border-style:solid;}
.innertable{border-collapse:collapse;}
.innertable th{border:1px solid #000;background:#DDD;padding:2px 3px 2px 3px;}
.innertable td{border:1px solid #000;padding:2px 3px 2px 3px;}
.paramSpacer{font-size:5px;}
.row0{background-color:#F2F2F2;}
.row1{background-color:#FFF;}
.prow0{background-color:#F2F2F2;}
.prow1{background-color:#FFF;}
.idxrow{padding-top:5px;}
.SummaryTableHeader{background-color:#CCC;}
.InheritedTableHeader{background-color:#EEE;}
.PackageTableHeader{background-color:#EEE;}
a:link{color:#00C;text-decoration:none;}
a:visited{color:#00C;text-decoration:none;}
a:hover{text-decoration:underline;color:#00C;}
a:active{text-decoration:none;color:#C00;}
h1,h2,h3,h4,h5,h6{font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-weight:bold;letter-spacing:1px;margin-bottom:3px;margin-top:3px;width:90%;}
h1{font-size:20px;font-weight:normal;margin-top:0;}
h2{font-size:16px;}
h3{font-size:16px;}
h4{font-size:14px;color:#666;}
h5{font-size:12px;}
.copyright{margin-top:30px;color:#777;font-size:10px;padding-bottom:5px;}
.inheritanceList{line-height:19px;}
.private{color:#999;}
.flashonly{color:#000;}
.flexonly{display:none;color:#000;}
.hide{display:none;}
* html .listing{width:93%;padding-left:6%;padding-right:5px;padding-top:5px;padding-bottom:5px;overflow-x:auto;background-color:#F2F2F2;margin-bottom:10px;margin-top:10px;font-family:"Lucida Console","Courier New",Courier,monospace;font-size:12px;}
html>body .listing pre{overflow:auto;padding-left:40px;padding-right:5px;padding-top:5px;padding-bottom:5px;background-color:#F2F2F2;margin-top:10px;margin-bottom:10px;font-family:"Lucida Console","Courier New",Courier,monospace;font-size:12px;}
.listing{position:relative;}
.listing .clipcopy{color:black;display:inline;top:10px;position:absolute;right:30px;}
.listingIcons{padding:0;margin-top:10px;height:15px;}
.pageTop{height:10px;}
.creativecommons{margin-top:15px;margin-left:20px;}
#ionCom{margin-bottom:50px;}
#ionComHere{margin-left:20px;}
#ionComHere #ionCom h3{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:100%;color:#000;padding-bottom:5px;}
#ionComList{margin:0!important;}
#ionComList li{list-style-type:none!important;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px!important;padding:4px 0 4px 0!important;}
#ionComList li.ionComMessage{background:#FFC;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:normal;font-style:normal;color:#000;list-style-position:inside;list-style-type:none;margin:0!important;padding:4px 0 4px 4px!important;}
#ionComButAdd{margin-left:0!important;}
.defaultTextArea{font-size:13px!important;}
#ionCom fieldset .button{font-size:13px!important;}
.ionComMessage{font-size:13px!important;}
#ionComPreview h4,#ionComPreview #ionComPreviewTextArea{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px!important;}
#ionCom a{color:#047!important;}
#ionCom a:visited{color:#047!important;}
#ionCom a:hover{color:#c00!important;text-decoration:none!important;}
.hideInheritedSkinState{display:none;}
.showInheritedSkinState{display:inline;}
.hideInheritedSkinPart{display:none;}
.showInheritedSkinPart{display:inline;}
.even{background-color:#F2F2F2;}
.odd{background-color:#FFF;}
.alternative{background-color:#FFC;}
.usage{color:#444;font-weight:bold;font-size:12px;}
.detailHeaderName h3{display:inline;}
.dropStyle{border:thin solid black;background-color:white;color:black;width:15em;}
.searchlistspan{z-index:105;visibility:hidden;position:absolute;top:160px;left:138px;}
td.titleTableShowHideTOC{margin-right:10px;width:0;}
div.mainleft{position:absolute;top:0;bottom:0;width:209px;display:none;}
div.packagelist{overflow:scroll;padding:5px 5px 5px 15px;position:absolute;top:0!important;height:190px;_top:0;_height:190px;width:100%;white-space:nowrap;}
div.h_splitter{background-color:#BBB;cursor:n-resize;display:block;width:100%;height:4px;_height:4px;_top:200px;top:200px;margin:0;padding:0;position:absolute;z-index:88;}
div.classlist{overflow:scroll;padding:5px 5px 5px 15px;position:absolute;top:204px;bottom:0!important;_top:204px;_height:325px;width:100%;white-space:nowrap;}
div.mainright{height:100%;overflow-y:auto;bottom:0;left:6px;top:0;right:0;position:absolute;}
div.splitter{background-color:#BBB;background-position:center center;background-repeat:no-repeat;cursor:e-resize;display:block;height:100%!important;_height:670px;_top:0;left:220px;margin:0;padding:0;position:absolute;vertical-align:middle;width:4px;z-index:88;display:none;}
div#filter_panel_float{width:100%;background-image:url(images/titleTableTopION.jpg);background-repeat:repeat-x;}
.discouraged{background-color:#F90;}
.sprite{background:url(images/sprite-index.png) no-repeat top left;}
.AirIcon12x12{background-position:0 0;width:12px;height:12px;}
.CC{background-position:0 -62px;width:80px;height:15px;display:inline;padding-right:6em;}
.CC_promo{background-position:0 -127px;width:160px;height:81px;display:block;}
.air_icon_sm{background-position:0 -258px;width:32px;height:32px;}
.blazeds_icon_sm{background-position:0 -340px;width:32px;height:32px;}
.close{background-position:0 -422px;width:10px;height:10px;padding-right:.5em;}
.coldfusion_icon_sm{background-position:0 -482px;width:32px;height:32px;}
.flashplayer_icon_sm{background-position:0 -564px;width:32px;height:32px;}
.flashpro_icon_sm{background-position:0 -646px;width:32px;height:32px;}
.flex_icon_sm{background-position:0 -728px;width:32px;height:32px;}
.livecycleds_icon_sm{background-position:0 -810px;width:32px;height:31px;}
.livecyclees_icon_sm{background-position:0 -891px;width:32px;height:32px;}
.logoION{background-position:0 -973px;width:76px;height:62px;}
.osmf_icon_sm{background-position:0 -1085px;width:32px;height:32px;}
.black_overlay{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background-color:black;z-index:1001;-moz-opacity:.7;opacity:.70;filter:alpha(opacity=70);}
.white_content{display:none;position:absolute;top:30%;left:30%;width:40%;height:25%;padding-top:16px;padding-left:10px;background-color:#F8F8F8;z-index:1002;overflow:auto;border:solid #B8B8B8;}
.white_content_title{width:97%;height:11%;background-color:#B8B8B8;padding:5px 5px 5px 5px;font-size:large;font-family:cambria,Georgia,Serif;}
.white_content_body{width:97%;padding:5px 5px 5px 5px;font-size:12 font-family:cambria,Georgia,Serif;}
#badgeContainerSupport{margin-bottom:10px;}
#badgeContainerSupport .ionComRating .ionLabel{font-family:Arial,helvetica;font-weight:bold;font-size:15px!important;letter-spacing:-0.5px;color:#F88E00;}
#badgeContainerSupport .ionComAddForm{background:white;border:none;padding:0;margin-top:-20px;}
#badgeContainerSupport .ionComRating .thankyou{color:#757575!important;}
#badgeContainerSupport .ionComAddForm textarea{margin-bottom:0;color:#666;font-family:verdana,helvetica,arial;width:376px;max-width:376px;}
#badgeContainerSupport .ionComAdd{box-shadow:0 0 12px rgba(0,0,0,0.75);-moz-box-shadow:0 0 12px rgba(0,0,0,0.75);-webkit-box-shadow:0 0 12px rgba(0,0,0,0.75);*filter:progid:DXImageTransform.Microsoft.Shadow(color='#999999',Direction=130,Strength=6);border-right:2px solid #B2B2B2;border-bottom:2px solid #B2B2B2;position:fixed;top:240px;left:500px;padding:7px;border:1px solid #B2B2B2;background:white;width:388px;}
#helpfulspan{font-family:Arial,helvetica;font-weight:bold;font-size:15px!important;letter-spacing:-0.5px;color:#F88E00;}
input{outline:none;}
.highlightText{background-color:#38D878;}
#pkg_txtMsg{width:180px;white-space:normal;color:#aaa;}
#pkg_searchspan{border:1px solid;padding:2px;width:90px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;margin-left:5px;}
#pkg_searchbox{width:82px;color:#aaa;border:none;margin:2px;border-color:white;font-size:12px;font-weight:normal;}
#pkg_clear_search{position:relative;cursor:pointer;}
.search_inactive{color:white;}
.search_active{color:black;}
.clsHighlightText{background-color:#38D878;}
#cls_txtMsg{width:180px;white-space:normal;color:#aaa;}
#cls_searchspan{border:1px solid;padding:2px;width:90px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;position:relative;margin-left:10px;}
#cls_searchbox{width:82px;color:#aaa;border:none;margin:2px;border-color:white;font-size:12px;font-weight:normal;}
#cls_clear_search{position:relative;cursor:pointer;}
.loaderimg{position:absolute;top:12px;right:40px;}
.loadingErrorDiv,.loadingMsgDiv{position:absolute;top:15px;right:200px;background-color:#FFF1A8;}
.innerLoadingErrorDiv,.innerLoadingMsgDiv{padding:5px;padding-left:15px;padding-right:15px;}
.innerLoadingErrorSpan1,.innerLoadingMsgSpan1{font-weight:bold;}
.innerLoadingErrorSpan2,.innerLoadingMsgSpan2{color:blue;cursor:pointer;}
.innerLoadingErrorSpan3{padding-left:10px;color:blue;cursor:pointer;}
#checkBoxspan{float:left;}
#jive-body-main{font-size:11px;}