<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Open Flash</title>
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <link href="/main.css" rel="stylesheet">
</head>
<body>
<header>
  <div>
    <nav>
      <a id="title" href="/">Open Flash</a>
      <div class="flex-space"></div>
      <a href="https://github.com/open-flash">GitHub</a>
      <a href="/blog">Blog</a>
      <a href="/documentation">Documentation</a>
      <a href="/db">Database</a>
    </nav>
  </div>
</header>
<div id="page-content">
  {% block pageContent %}
  {% endblock pageContent %}
</div>
<div class="flex-space"></div>
<footer>
  <div>
    <a href="https://github.com/open-flash">Open Flash</a> by <a href="https://demurgos.net">Charles "Demurgos" Samborski</a> and contributors
  </div>
</footer>
<script type="module" src="/sortable-tables.mjs"></script>
</body>
</html>
